<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <ul id="nav-bar">
    <li><%= link_to "Landing Page", root_path %></li>
    <li><%= link_to "Patient Dash", patient_dash_path %></li>
    <li><%= link_to "Doctor Dash", doctor_dash_path %></li>
    <li><%= link_to "Patient Set Appointment", patient_set_appointment_path %></li>
    <li><%= link_to "Patient Profile", patient_profile_path %></li>
    <li><%= link_to "Doctor Profile", doctor_profile_path %></li>
    <li><%= link_to "Patient Waiting Room", patient_waiting_room_path %></li>
    <li><%= link_to "Doctor Waiting Room", doctor_waiting_room_path %></li>
    <li><%= link_to "Patient Webchat", patient_webchat_path %></li>
    <li><%= link_to "Doctor Webchat", doctor_webchat_path %></li>
  </ul>

  <%= yield %>
  <%= javascript_include_tag "application" %>
</body>
</html>